<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="support@pcsinfinity.in" />
    <add key="Password" value="wr@e5l" />
    <add key="ClientId" value="demo" />
    <add key="IntervalTime" value="5000" />
    <add key="URL" value="https://api.assetinfinity.com/" />
    <add key="APIURL" value="https://api.assetinfinity.com/api/SaveITAsset?"/>
  </appSettings>
</configuration>